* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section {
    padding: 50px;
}
div {
    padding: 20px;
}
/* Header & Nav Bar Styles */
header {
    padding: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(../assets/sunflower-banner.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
header h1 {
    font-size: 50px;
    font-weight: bold;
    background-color:rgba(128, 128, 128, 0.5)
}
/* Hero Styles */
.hero {
    border: 2px solid #997cd3;
    background-image: url(../assets/sunflower-banner.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    padding: 70px;

}
/* End Hero Styles */

.about-me {
    border: 2px solid #58f565;
}
.my-work {
    border: 2px solid #2802ff;
}
.contact {
    border: 2px solid rgba(255, 0, 0, 0.533);
}

/* Media Queries For Smaller Screens */

@media screen and (max-width: 980px) {

    .hero {
   
    }
}

