* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(29, 28, 18, 0.774);
}
/* Header & Nav Bar Styles */
header {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(../assets/sunflower-banner.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    border-top: 4px solid black;
}
header h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    background-color:rgba(27, 14, 6, 0.658);
    padding: 10px;
    margin: 0;
    border-radius: 30px;
}
header a {
    text-decoration: none;
    color: white;
    background-color:rgba(27, 14, 6, 0.658);
    font-weight: bold;
    border-radius: 30px;
    margin: 5px;
    
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header nav ul li {
    color: white;
    margin-top: 0px;
    list-style: none;
    
}
header nav ul li a {
    padding: 20px;
    font-weight: bolder;
    font-size: 2.00vw;
}
header nav ul li a:hover {
    background:rgb(228, 176, 4);
    color: black;
}
/* End Nav Bar Styles */

/* Hero Styles */
.hero {
    background-image: url(../assets/sunflower-banner.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid black;
}
.hero h1 {
    font-size: 50px;
    color: white;
    background-color:rgba(27, 14, 6, 0.658);
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 30px;
}

/* End Hero Styles */

/* Section Title Styles */
.title {  
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-right: 3px solid rgb(228, 176, 4);
    padding-left: 20px;
    margin-right: 10px;

}
/* Section Title Styles End */

/* About Me Section Styles */
.about-me {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: left;
    border: 2px solid black;
}
.about-me p {
    margin-top: 20px;
}
.about-me img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 400px;
    float: right;
    margin-left: auto;
    margin-right: 10px;
}
.about-me div {
    padding: 2px;
    margin-left: 60px;
}
/* About Me Section End */

/* My Work Section Styles */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid black;
}
.flex-container > .title {
   flex-basis: 13.08%;
   justify-content: space-between;
   margin-left: 40px;
}
.flex-container:first-child {
    flex-basis: 100%;
}
.flex-imgs {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-around;
    background-position: cover;
    margin-right: 10px;
}
.flex-imgs > div {
    width: calc(45% - 10px);
    height: 300px;
    margin-top: 10px;

}
div.flex-item {
    height: 400px;
    flex-basis: 100%;
    background-image: url(./sunflowers-1.jpg);
    background-size: cover;
    background-position: center;
}
.flex-item-2 {
    background-image: url(./sunflowers-2.jpg);
    background-size: cover;
}
.flex-item-3 {
    background-image: url(./sunflowers-3.jpg);
    background-size: cover;
}
.flex-item-4 {
    background-image: url(./sunflowers-4.jpg);
    background-size: cover;
}
.flex-item-5 {
    background-image: url(./sunflowers-5.jpg);
    background-size: cover;
}
.flex-item span, .flex-item-2 span, .flex-item-3 span, .flex-item-4 span, .flex-item-5 span {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px 5px;
}

/* My Work Section End */

/* Contact Section Styles */
.contact {
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 2px solid black;
}
.contact h2 {
    font-size: 40px;
    margin-right: 40px;
}
/* Contact Section End */

/* Footer Styles */
footer {
    text-align: center;
    border: 2px solid black;
}
/* Footer Styles End */

/* Media Queries For Smaller Screens */

@media screen and (max-width: 980px) {


}

